<a href="https://colab.research.google.com/github/rolandkrause/r-intro/blob/main/Pandas_loc_and_iloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pandas: Location access and slice

The curated COVID-19/Luxembourg data is at https://github.com/MADS-PY-R-2021/datasets/blob/main/luxembourg_covid19_data.csv

## Create a DataFrame

In [ ]:
# importing pandas and numpy
import pandas as pd
import numpy as np

# crete a sample dataframe
data = pd.read_csv("https://raw.githubusercontent.com/MADS-PY-R-2021/datasets/main/luxembourg_covid19_data.csv")
# view the data
data

     Unnamed: 0       Dated  ...  Death per day    Month
0             0  2020-02-24  ...            NaN  2020-02
1             1  2020-02-25  ...            NaN  2020-02
2             2  2020-02-26  ...            NaN  2020-02
3             3  2020-02-27  ...            NaN  2020-02
4             4  2020-02-28  ...            NaN  2020-02
..          ...         ...  ...            ...      ...
580         580  2021-09-26  ...            0.0  2021-09
581         581  2021-09-27  ...            0.0  2021-09
582         582  2021-09-28  ...            0.0  2021-09
583         583  2021-09-29  ...            0.0  2021-09
584         584  2021-09-30  ...            0.0  2021-09

[585 rows x 14 columns]

In [ ]:
data.set_index('Dated', inplace=True)
data.drop('Unnamed: 0',axis=1, inplace=True)

In [ ]:
data

            Normal care  Intensive care  ...  Death per day    Month
Dated                                    ...
2020-02-24          NaN               0  ...            NaN  2020-02
2020-02-25          NaN               0  ...            NaN  2020-02
2020-02-26          NaN               0  ...            NaN  2020-02
2020-02-27          NaN               0  ...            NaN  2020-02
2020-02-28          NaN               0  ...            NaN  2020-02
...                 ...             ...  ...            ...      ...
2021-09-26         12.0               8  ...            0.0  2021-09
2021-09-27         13.0               9  ...            0.0  2021-09
2021-09-28         16.0               9  ...            0.0  2021-09
2021-09-29         18.0               8  ...            0.0  2021-09
2021-09-30         17.0               9  ...            0.0  2021-09

[585 rows x 12 columns]

# loc

In [ ]:
data.loc['2021-09-26']

Normal care                                        12
Intensive care                                      8
Intensive care. 1                                   8
Cumulative Number of Death                        835
Hospital discharges                                 2
Cumulative number of positives                  77930
Number of positives                                 7
Number of tests performed                         279
Number of cumulative tests carried out    3.51387e+06
Positivity Rate                               2.50896
Death per day                                       0
Month                                         2021-09
Name: 2021-09-26, dtype: object

In [ ]:
data.loc['2021-09-26','Normal care']

12.0

In [ ]:
data.loc[['2021-09-26','2021-09-27']]

            Normal care  Intensive care  ...  Death per day    Month
Dated                                    ...
2021-09-26         12.0               8  ...            0.0  2021-09
2021-09-27         13.0               9  ...            0.0  2021-09

[2 rows x 12 columns]

In [ ]:
data.loc[['2021-09-26','2021-09-27'],['Normal care','Intensive care']]

            Normal care  Intensive care
Dated
2021-09-26         12.0               8
2021-09-27         13.0               9

In [ ]:
data.loc[:,['Normal care','Intensive care']]

            Normal care  Intensive care
Dated
2020-02-24          NaN               0
2020-02-25          NaN               0
2020-02-26          NaN               0
2020-02-27          NaN               0
2020-02-28          NaN               0
...                 ...             ...
2021-09-26         12.0               8
2021-09-27         13.0               9
2021-09-28         16.0               9
2021-09-29         18.0               8
2021-09-30         17.0               9

[585 rows x 2 columns]

## Find all the rows based on any condition in a column

In [ ]:
# select all rows with a condition
data.loc[data['Intensive care'] >= 5]

            Normal care  Intensive care  ...  Death per day    Month
Dated                                    ...
2020-03-21         56.0               6  ...            1.0  2020-03
2020-03-22         63.0               5  ...            0.0  2020-03
2020-03-23         71.0               7  ...            0.0  2020-03
2020-03-24         97.0               9  ...            0.0  2020-03
2020-03-25        128.0              21  ...            2.0  2020-03
...                 ...             ...  ...            ...      ...
2021-09-26         12.0               8  ...            0.0  2021-09
2021-09-27         13.0               9  ...            0.0  2021-09
2021-09-28         16.0               9  ...            0.0  2021-09
2021-09-29         18.0               8  ...            0.0  2021-09
2021-09-30         17.0               9  ...            0.0  2021-09

[385 rows x 12 columns]

## Find all the rows with more than one condition

In [ ]:
# select with multiple conditions
data.loc[(data['Intensive care'] >= 5) & (data['Death per day'] > 0)]

            Normal care  Intensive care  ...  Death per day    Month
Dated                                    ...
2020-03-21         56.0               6  ...            1.0  2020-03
2020-03-25        128.0              21  ...            2.0  2020-03
2020-03-27        128.0              26  ...            5.0  2020-03
2020-03-28        152.0              29  ...            3.0  2020-03
2020-03-29        160.0              27  ...            4.0  2020-03
...                 ...             ...  ...            ...      ...
2021-09-03         21.0              10  ...            1.0  2021-09
2021-09-04         21.0              11  ...            1.0  2021-09
2021-09-07         28.0              10  ...            1.0  2021-09
2021-09-09         30.0              10  ...            1.0  2021-09
2021-09-21         19.0               8  ...            1.0  2021-09

[257 rows x 12 columns]

## Select a range of rows using loc

In [ ]:
#slice
data.loc['2021-09-03':'2021-09-21']

            Normal care  Intensive care  ...  Death per day    Month
Dated                                    ...
2021-09-03         21.0              10  ...            1.0  2021-09
2021-09-04         21.0              11  ...            1.0  2021-09
2021-09-05         29.0              10  ...            0.0  2021-09
2021-09-06         30.0              10  ...            0.0  2021-09
2021-09-07         28.0              10  ...            1.0  2021-09
2021-09-08         27.0              10  ...            0.0  2021-09
2021-09-09         30.0              10  ...            1.0  2021-09
2021-09-10         31.0              10  ...            0.0  2021-09
2021-09-11         30.0              10  ...            0.0  2021-09
2021-09-12         28.0               9  ...            0.0  2021-09
2021-09-13         28.0               9  ...            0.0  2021-09
2021-09-14         24.0               8  ...            0.0  2021-09
2021-09-15         18.0               9  ...            0.0  2021-09
2021-09-16         16.0               9  ...            0.0  2021-09
2021-09-17         18.0              10  ...            0.0  2021-09
2021-09-18         20.0               9  ...            0.0  2021-09
2021-09-19         20.0               9  ...            0.0  2021-09
2021-09-20         22.0               8  ...            0.0  2021-09
2021-09-21         19.0               8  ...            1.0  2021-09

[19 rows x 12 columns]

## Select only required columns with a condition

In [ ]:
# select few columns with a condition
data.loc[data['Intensive care'] >= 5, ['Normal care','Intensive care']]

            Normal care  Intensive care
Dated
2020-03-21         56.0               6
2020-03-22         63.0               5
2020-03-23         71.0               7
2020-03-24         97.0               9
2020-03-25        128.0              21
...                 ...             ...
2021-09-26         12.0               8
2021-09-27         13.0               9
2021-09-28         16.0               9
2021-09-29         18.0               8
2021-09-30         17.0               9

[385 rows x 2 columns]

## Update the values of a particular column on selected rows

In [ ]:
# update a column with condition
data.loc[(data['Intensive care'] >= 5), ['Hospital_load']] = 'High'
data.loc[(data['Intensive care'] < 5), ['Hospital_load']] = 'Low'
data

            Normal care  Intensive care  ...    Month  Hospital_load
Dated                                    ...
2020-02-24          NaN               0  ...  2020-02            Low
2020-02-25          NaN               0  ...  2020-02            Low
2020-02-26          NaN               0  ...  2020-02            Low
2020-02-27          NaN               0  ...  2020-02            Low
2020-02-28          NaN               0  ...  2020-02            Low
...                 ...             ...  ...      ...            ...
2021-09-26         12.0               8  ...  2021-09           High
2021-09-27         13.0               9  ...  2021-09           High
2021-09-28         16.0               9  ...  2021-09           High
2021-09-29         18.0               8  ...  2021-09           High
2021-09-30         17.0               9  ...  2021-09           High

[585 rows x 13 columns]

# iloc

## Select rows with indices using iloc

In [ ]:
# select rows with indexes
data.iloc[[30,60,90,120]]

            Normal care  Intensive care  ...    Month  Hospital_load
Dated                                    ...
2020-03-25        128.0              21  ...  2020-03           High
2020-04-24        109.0              30  ...  2020-04           High
2020-05-24         28.0               5  ...  2020-05           High
2020-06-23         11.0               0  ...  2020-06            Low

[4 rows x 13 columns]

## Select rows with particular indices and particular columns

In [ ]:
# select rows with particular indexes and particular columns
data.iloc[[30,60,90,120],[0,1,-3,-1]]

            Normal care  Intensive care  Death per day Hospital_load
Dated
2020-03-25        128.0              21            2.0          High
2020-04-24        109.0              30            1.0          High
2020-05-24         28.0               5            0.0          High
2020-06-23         11.0               0            0.0           Low

## Select a range of rows using iloc

In [ ]:
# select a range of rows
data.iloc[365:395]

            Normal care  Intensive care  ...    Month  Hospital_load
Dated                                    ...
2021-02-23         64.0              15  ...  2021-02           High
2021-02-24         63.0              15  ...  2021-02           High
2021-02-25         64.0              17  ...  2021-02           High
2021-02-26         67.0              19  ...  2021-02           High
2021-02-27         73.0              20  ...  2021-02           High
2021-02-28         77.0              21  ...  2021-02           High
2021-03-01         80.0              20  ...  2021-03           High
2021-03-02         84.0              20  ...  2021-03           High
2021-03-03         87.0              22  ...  2021-03           High
2021-03-04         84.0              22  ...  2021-03           High
2021-03-05         83.0              23  ...  2021-03           High
2021-03-06         90.0              21  ...  2021-03           High
2021-03-07         92.0              21  ...  2021-03           High
2021-03-08         93.0              24  ...  2021-03           High
2021-03-09         98.0              24  ...  2021-03           High
2021-03-10         94.0              30  ...  2021-03           High
2021-03-11         96.0              32  ...  2021-03           High
2021-03-12         93.0              27  ...  2021-03           High
2021-03-13         93.0              25  ...  2021-03           High
2021-03-14         95.0              25  ...  2021-03           High
2021-03-15        102.0              26  ...  2021-03           High
2021-03-16         88.0              25  ...  2021-03           High
2021-03-17         97.0              23  ...  2021-03           High
2021-03-18        101.0              17  ...  2021-03           High
2021-03-19        100.0              19  ...  2021-03           High
2021-03-20        101.0              20  ...  2021-03           High
2021-03-21        102.0              20  ...  2021-03           High
2021-03-22        109.0              21  ...  2021-03           High
2021-03-23        105.0              18  ...  2021-03           High
2021-03-24        104.0              21  ...  2021-03           High

[30 rows x 13 columns]

## Select a range of rows and columns using iloc

In [ ]:
# select a range of rows and columns
data.iloc[365:395,-4:]

            Positivity Rate  Death per day    Month Hospital_load
Dated
2021-02-23         2.581423            3.0  2021-02          High
2021-02-24         2.009688            2.0  2021-02          High
2021-02-25         2.045947            3.0  2021-02          High
2021-02-26         1.756522            1.0  2021-02          High
2021-02-27         1.521472            2.0  2021-02          High
2021-02-28         8.952703            0.0  2021-02          High
2021-03-01         1.599068            1.0  2021-03          High
2021-03-02         2.256082            2.0  2021-03          High
2021-03-03         2.047510            5.0  2021-03          High
2021-03-04         1.965550            6.0  2021-03          High
2021-03-05         1.711193            6.0  2021-03          High
2021-03-06         1.836416            6.0  2021-03          High
2021-03-07         5.033557            0.0  2021-03          High
2021-03-08         1.637853            4.0  2021-03          High
2021-03-09         1.887249            5.0  2021-03          High
2021-03-10         2.390871            2.0  2021-03          High
2021-03-11         1.777867            6.0  2021-03          High
2021-03-12         1.622770            7.0  2021-03          High
2021-03-13         2.265576            2.0  2021-03          High
2021-03-14         8.797127            3.0  2021-03          High
2021-03-15         1.793023            4.0  2021-03          High
2021-03-16         2.612994            7.0  2021-03          High
2021-03-17         2.739301            3.0  2021-03          High
2021-03-18         2.403558            8.0  2021-03          High
2021-03-19         2.269275            2.0  2021-03          High
2021-03-20         2.417557            2.0  2021-03          High
2021-03-21         9.375000            2.0  2021-03          High
2021-03-22         1.653804            5.0  2021-03          High
2021-03-23         2.976140            3.0  2021-03          High
2021-03-24         2.535523            7.0  2021-03          High